[Unit]
Description="Anonsurf Daemon Service"
Before=poweroff.target reboot.target
After=network.target

[Service]
ExecStart=/usr/bin/anondaemon start
ExecReload=/usr/bin/anondaemon restart
ExecStop=/usr/bin/anondaemon stop
RemainAfterExit=yes

[Install]
WantedBy=poweroff.target reboot.target